@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --header: #102a42;
  --primary: #49a6e9;
  --button: #bb2525;
  --light-gray: #ebf7ff;
  --main: #f1f5f8;
  --white: #ffffff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: var(--header);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--main);
  font-family: "Roboto",
  sans-serif;

}

.container{
  width: 80vw;
  max-width: 620px;
}

.wrapper{
  background-color: var(--white);
  padding: 1.5rem 2.5rem;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  transition: all .35s ease-in-out;
}

.wrapper:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.title-head {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 3.5px;
  font-size: 2.55rem;
  position: relative;
  margin-block-end: 4rem;
  padding-block-end: .8rem;
}

.title-head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: .25rem;
  width: 95px;
  background-color: var(--primary);
}

.img-wrapper{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.img-wrapper::before{
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: -1;
  top: -4px;
  right: 34.5%;
  background-color: var(--primary);
}

img {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
}

.quote{
  position: absolute;
  left: 36%;
  top: 10%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 50%;
}

.info{
  margin-block-start: 1.35rem;
  text-align: center;
  line-height: 1.5;
}

.name{
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 1rem;
}

.position{
  color: var(--primary);
  margin-block: .3rem;
  text-transform:uppercase;
  font-size: .85rem;
}

.about{
  color: #617d98;
}

.foot{
  margin-block-start: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.btn-wrapper{
  display: flex;
  gap: 1.4rem;
}

.btn{
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 900;
  border: none;
  outline: none;
  background-color: var(--white);
}

.random{
  outline: none;
  border: none;
  margin: auto;
  padding: .2rem .6rem;
  cursor: pointer;
  font-size: .9rem;
  color: var(--primary);
  background-color: var(--light-gray);
  text-transform: capitalize;

}